@font-face {
  font-family: "TT Firis Neue";
  src: url("../fonts/TTFirsNeue-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.container {
  padding: 30px 20px;
}

.mainTitle {
  color: #f0f8f7;
  font-weight: 700;
  font-size: 32px;
  line-height: 137%;
  font-family: "TT Firis Neue";
}

.subtitleWithLine {
  color: black;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4em;
  display: flex;
}

.white {
  color: white !important;
  background-color: white !important;
}

.white::after {
  border: 1px solid white !important;
}

.black {
  color: black !important;
}

.burderedButton {
  display: block;
}

.burderedButtonText {
  width: 100%;
  cursor: pointer;
  background: none;
  /* background-color: #191919; */
  color: #60d4c9;
  border: 1px solid #60d4c9;
  padding: 16px 32px;
  border-radius: 14px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.2s;
}

.burderedButtonText:hover {
  background-color: #60d4c9;
  color: black;
}

.line {
  position: relative;
  content: "";
  display: block;
  width: 55px;
  height: 1px;
  background-color: black;
  margin-right: 21px;
  transform: translateY(15px);
}

.line::after {
  position: absolute;
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border: 1px solid black;
  border-radius: 50%;
  left: 100%;
  top: 0;
  transform: translate(-25%, -30%);
}

.ordinaryText {
  color: #f0f8f7;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5em;
}

.topBlock {
  background-color: #191919;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logoImgTop {
  max-width: 130px;
  width: 100%;
  height: auto;
  z-index: 10;
}

.desktopNav {
  display: none;
}

.logoHeader {
  max-width: 25px;
  width: 100%;
  height: auto;
  margin: 0px 0 30px;
}

.headerContent {
  /* max-height: 700px; */
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.headerTitile {
  margin-bottom: 20px;
}

.headerText {
  margin-bottom: 40px;
}

.mainButton {
  display: block;
  width: 100%;
}

.mainButtonText {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  padding: 16px 0;
  background-color: #00e2d5;
  border-radius: 12px;
  border: none;
  outline: none;
  width: 100%;
  transition: 0.2s all;
}
.mainButtonText:hover {
  background-color: #60d4c9;
}

.lineWithPoint {
  display: none;
}

.aboutUsContainer {
  padding-top: 40px;
  padding-bottom: 80px;
}

.aboutUsCards {
  display: flex;
  flex-direction: column;
}

.cardItem {
  display: flex;
  margin-bottom: 20px;
}

.numberImg {
  width: 100%;
  height: auto;
  margin-right: 20px;
}

.one {
  max-width: 77px;
}

.seventy {
  max-width: 144px;
}

.eighty {
  max-width: 163px;
}

.aboutUsCardText {
  display: block;
  width: 50%;
}

.aboutUsText,
.aboutUsButton {
  display: none;
}

.lineAboutUs {
  margin-top: 15px;
  position: relative;
  left: 50%;
  content: "";
  display: block;
  width: 1px;
  height: 80px;
  background-color: black;
  /* transform: rotate(90deg); */
}

.lineAboutUs::after {
  position: absolute;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border: 1px solid black;
  border-radius: 50%;
  top: 100%;
  transform: translate(-45%);
}

.servicesSection,
.casesSection {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0;
}

.servicesCardItem {
  margin-bottom: 20px;
}

.servicesSubtitle {
  margin-bottom: 40px;
  color: white;
}
.servicesTitle {
  color: white;
  font-size: 20px;
  line-height: 1.5em;
  margin-bottom: 10px;
}

.textService {
  font-size: 16px;
  margin-bottom: 20px;
}

.planetImg {
  margin-top: 10px;
  width: 100%;
  height: auto;
}

.contentBlock {
  margin-top: 60px;
}
.contactButton {
  margin-top: 40px;
}

.contactUsImg {
  margin: 40px 0 60px;
}
.contactUsImgItem {
  width: 100%;
  height: auto;
}

.casesSection {
  padding: 80px 0;
  position: relative;
}

.casesContainer {

padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 40px;
  /* max-width: 728px;
  width: 100%;
  margin: 0 auto; */
}

.casesSubtitle {
  margin-bottom: 0;
}

.casesSubtitleWithLine {
  justify-content: center;
}

.casesCards {
  padding-bottom: 130px;
}

.casesCardItem {
  background-color: #191919;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.casesCardItem:last-of-type {
  margin-bottom: 0;
}
.planetImgDesktop {
  display: none;
}
.footer {
  background-color: #191919;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logoFooterBlock {
  max-width: 130px;
  margin-bottom: 50px;
}

.logoFooter {
  width: 100%;
  height: auto;
}

.footerContentBlock {
  display: flex;
  flex-direction: column;
}

.quickLinksBlock {
}

.footerTitle {
  color: #f0d57d;
  font-family: "Cardo";
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.linksList {
  margin-bottom: 42px;
}

.navLinkFooter {
  color: white;
  text-decoration: none;
  transition: 0.2s ease-out;
}

.navLinkFooter:hover {
  color: #00e2d5;
}

.navTextFooter {
  margin-bottom: 30px;
  font-size: 16px;
  text-transform: uppercase;
}

.linkedinBot {
  width: 20px;
  height: auto;
  margin-top: 50px;

  margin-bottom: 20px;
}

.typeOfContactAndDetailsFooter {
  color: white;
  margin-bottom: 23px;
}

.typeOfContact {
  text-transform: uppercase;
  margin-bottom: 10px;
  max-width: 20px;
  height: auto;
}

.footerLink {
  display: block;
  text-decoration: none;
  font-size: 16px;

  color: white;
  margin-bottom: 60px;
  transition: all 0.2s;
}

.footerLink:hover {
  color: #00e2d5;
}

.copyrigthBlock {
  margin-bottom: 15px;
}

.footerCopyrigth {
  display: none;
}

.responsibleCard {
  text-align: center;
}
.footer.container {
  padding-bottom: 0;
}
