@media (min-width: 1400px) {
  .topBlock {
    padding-bottom: 0;
    /* max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    background-color: ; */
  }
  .wrapperHeader {
    max-width: 1290px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin: 0 auto;
  }
  .logoImgTop {
    max-width: 190px;
  }
  .vanta-canvas {
    border-radius: 0 0 40px 40px;
  }
  .nav {
    display: none;
  }
  .desktopNav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .navList {
    display: flex;
    margin-right: 128px;
    align-self: center;
  }

  .logoImgTop {
    max-width: 190px;
  }

  .borderedButtonHeader {
    transform: translateY(-25%);
  }
  .navLink {
    text-decoration: none;
  }
  .navText {
    position: relative !important;
    font-size: 16px !important;
    line-height: 1.9em;
    color: white;
    margin-right: 30px;
    transition: 0.3s ease-in-out;
  }
  .navLink:hover .navText {
    color: #60d4c9;
  }
  .navLink:hover .navText::after {
    opacity: 1;
  }
  .navList:nth-of-type(1) .accordion::after {
    display: none;
  }
  .navLink:nth-of-type(2) .navText {
    margin-right: 30px;
  }
  .navLink:nth-of-type(4) .navText {
    margin-left: 30px;
  }
  .innerMenu {
    position: relative;
    font-size: 16px;
    line-height: 1.9em;
    margin: 0 !important;
    margin-bottom: 10px !important;
    color: white;
  }
  .accordion {
    position: relative;
    transition: all 0.2s;
  }
  .accordion :hover {
    color: #60d4c9;
  }
  .navTextSmall:hover {
    color: #60d4c9;
  }
  .panel {
    position: absolute;
    z-index: 1000;
    transform: translate(-25%);
    text-align: center;
    color: white;
    background-color: #191919;
    min-width: 205px;
    border-radius: 16px;
  }
  .navTextSmall {
    color: white;
    font-size: 15px !important;
    margin-bottom: 10px !important;
    transition: 0.2s ease-in-out;
  }
  .desktopContent {
    padding-left: 0;
    padding-right: 0;
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
  }
  .headerImg {
    max-width: 410px;
    width: 100%;
  }
  .companyHistoryContainer {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
  }
  .historyText {
    font-size: 16px;
    line-height: 24px;
  }
  .historySubtitle {
    justify-content: flex-start;
  }
  .gridContainer {
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 60px;
    /* grid-template-rows: repeat(3, 1fr); */
  }
  .cellItem {
    border-radius: 40px;
  }
  .cell_1 {
    padding: 0;
    border-left: none;
    padding-right: 100px;
    width: 100%;
    grid-column: 3 / -1;
    align-self: center;
  }
  .cell_2 {
    width: 80%;
    grid-row: 1;
    grid-column: 1 /3;
  }
  .cell_3 {
    width: 80%;
    grid-column: 2 / 4;
    justify-self: center;
  }
  .cell_4 {
    width: 80%;
    align-self: center;
  }
  .cell_5 {
    width: 80%;
    grid-column: 3 / -1;
  }
  .benefitsSection {
    border-radius: 40px;
  }
  .benefitsBlock {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 100px 0;
  }
  .benefitsTextBlock {
    width: 50%;
    margin-bottom: 0;
  }
  .benefitsText {
    font-size: 16px;
  }
  .imgBlock {
    max-width: 410px;
  }
  .ourTeamContainer {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0;
  }
  .subtitleTeamSection {
    justify-content: flex-start;
  }
  .gridWrapperTeam {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 60px;
  }
  .gridItemImg {
    border-radius: 40px;
  }
  .gridItem_1 {
    width: 100%;
  }
  .gridItem_2 {
    width: 100%;
    grid-column: 2 / 3;
    transform: translateY(30px);
  }
  .gridItem_3 {
    width: 100%;
    grid-column: 3 /4;
  }
  .gridItem_4 {
    align-self: center;
  }
  .gridItem_5 {
    transform: translateY(30px);
    width: 100%;
  }
  .gridItem_6 {
    width: 100%;
    grid-column: 3 /4;
  }
  .contactFlex {
    flex-direction: row-reverse;
    align-items: center;
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  .contactUsSection {
    margin-bottom: 120px;
  }
  .subtitleWithLineContact {
    width: 80%;
  }
  .contentBlock {
    flex: 0 1 50%;
  }
  .contactUsImg {
    max-width: 520px;
  }
  .grey {
    background-color: #191919;
  }
  .footer {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding: 150px 0 50px;
    /* padding-bottom: 60px; */
  }
  .logoFooter, .logoFooterBlock {
    max-width: 200px;
  }
  .footerContentBlock {
    margin-bottom: 84px;
  }
  .linksList {
    margin-bottom: 0;
  }
  .footerCopyrigth {
    left: 0%;
    top: 79%;
  }
  .linksFooterPrivacy {
    top: 32%;
    left: 85%;
  }
  .typeOfContact {
    max-width: 14px;
    height: 20px;
  }
  .email {
    width: 20px;
    max-width: 20px;
    height: auto;
  }
  .navLinkFooter:last-of-type .navTextFooter {
    margin-bottom: 0;
  }
  .linksFooterPrivacy {
    top: 35%;
  }
}