@media (min-width: 1400px) {
  .topBlock {
    padding-bottom: 0;
    /* max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    background-color: ; */
  }
  .wrapperHeader {
    max-width: 1290px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin: 0 auto;
  }
  .logoImgTop {
    max-width: 190px;
  }
  .vanta-canvas {
    border-radius: 0 0 40px 40px;
  }
  .nav {
    display: none;
  }
  .desktopNav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .navList {
    display: flex;
    margin-right: 128px;
    align-self: center;
  }

  .logoImgTop {
    max-width: 190px;
  }

  .borderedButtonHeader {
    transform: translateY(-25%);
  }
  .navLink {
    text-decoration: none;
  }
  .navText {
    position: relative !important;
    font-size: 16px !important;
    line-height: 1.9em;
    color: white;
    margin-right: 30px;
    transition: 0.3s ease-in-out;
  }
  .navLink:hover .navText {
    color: #60d4c9;
  }
  .navLink:hover .navText::after {
    opacity: 1;
  }
  .navList:nth-of-type(1) .accordion::after {
    display: none;
  }
  .navLink:nth-of-type(2) .navText {
    margin-right: 30px;
  }
  .navLink:nth-of-type(4) .navText {
    margin-left: 30px;
  }
  .innerMenu {
    position: relative;
    font-size: 16px;
    line-height: 1.9em;
    margin: 0 !important;
    margin-bottom: 10px !important;
    color: white;
  }
  .accordion {
    position: relative;
    margin-right: 0 !important;
    transition: all 0.2s;
  }
  .accordion :hover {
    color: #60d4c9;
  }
  .navTextSmall:hover {
    color: #60d4c9;
  }
  .panel {
    position: absolute;
    z-index: 1000;
    transform: translate(-25%);
    text-align: center;
    color: white;
    background-color: #191919;
    min-width: 205px;
    border-radius: 16px;
  }
  .navTextSmall {
    color: white;
    font-size: 15px !important;
    margin-bottom: 10px !important;
    transition: 0.2s ease-in-out;
  }
  .desktopContent {
    padding-left: 0;
    padding-right: 0;
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
  }
  .headerImg {
    max-width: 410px;
    width: 100%;
  }
  
  .grey {
    background-color: #191919;
  }

  .contactUsContainer {
    max-width: 1290px;
    width: 100%;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 1px solid black;
    padding: 0;
  }

  .formBlock {
    width: 50%;
    margin: 0;
  }

  .historySubtitle {
    justify-content: start;
  }

  .mapSection {
  
    margin: 20px 0 120px;
  }

  .mapImg {
    max-width: 1290px;
  }

  .formContainer {
    padding: 60px;
    width: unset;
  }
  .contactsBlock {
    border: none;
    margin-bottom: 0;
  }
  .footer {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding: 150px 0 50px;
    /* padding-bottom: 60px; */
  }
  .logoFooter, .logoFooterBlock {
    max-width: 200px;
  }
  .footerContentBlock {
    margin-bottom: 84px;
  }
  .linksList {
    margin-bottom: 0;
  }
  .footerCopyrigth {
    left: 0%;
    top: 79%;
  }
  .linksFooterPrivacy {
    top: 32%;
    left: 85%;
  }
  .typeOfContact {
    max-width: 14px;
    height: 20px;
  }
  .email {
    width: 20px;
    max-width: 20px;
    height: auto;
  }
  .navLinkFooter:last-of-type .navTextFooter {
    margin-bottom: 0;
  }
  .linksFooterPrivacy {
    top: 35%;
  }
}